@page
@model CorpMessengerBackend.Pages.ManageDepartments.IndexModel

@{
    ViewData["Title"] = "Управление отделами";
}

<h1>Отделы</h1>

<p>
    <a asp-page="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department[0].DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department[0].Modified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Department) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DepartmentId">Редактировать</a>
            </td>
        </tr>
}
    </tbody>
</table>
